body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    margin: 0;
}

.header img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    /* padding: 10px; */
}

.header-title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
    margin-left: 900px;
}