    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 20.7482px;
        line-height: 24px;
        letter-spacing: -0.1em;
        color: #FFFFFF;
        height: 65px;
        background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
        margin: 0;
    }
    
    .header img {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        /* padding: 10px; */
    }
    
    .header-title {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 15px;
        text-align: right;
        color: #FFFFFF;
        margin-left: 900px;
    }
    
    .form-generator {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    
    .form-generator input {
        width: 230px;
        border-radius: 5px;
        padding: 10px;
    }
    
    .meme-generate-button {
        width: 477px;
        height: 40px;
        background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        text-align: center;
        letter-spacing: -0.1em;
        color: #FFFFFF;
        margin: auto;
    }
    
    .meme-generator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px;
    }
    
    .meme {
        position: relative;
    }
    
    .meme-image {
        /* width: 477px;
    height: 268px; */
        max-width: 100%;
        border-radius: 2px;
    }
    
    .meme-text {
        position: absolute;
        width: 80%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
    }
    
    .bottom {
        bottom: 0;
    }
    
    .top {
        top: 0;
    }